// COLOURSs
$color-secondary: #2243B6;

$color-white: #fff;
$color-black: #000;

$color-landing: #0b0b0d;
$color-landing-light: #2d2d2d;

// MEDIA QUERY BREAK POINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px